.l-hero {
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 50% 70%;
    background-size: cover;
    background-image: url(/public/img/bg-hero-640.jpg);
}

body {
    height: 200vh;
}