// ==========================================================================
// Colors
// ==========================================================================

$color-white: #f8f8f2;
$color-dark: #282A36;
$color-black: #101010;;
$color-white-black: #191919;
$color-gray: rgba(68, 71, 90, 1);
$color-gray-5: rgba(68, 71, 90, 0.5);
$color-green: #50FA7B;
$color-puple: #6272A4;

// ==========================================================================
// Measures
// ==========================================================================

// Normal screen
$font-size-big-title: 5em;
$font-size-title: 3.2em;
$font-size-normal: 1em;
$font-size-normal-sm: 1.2em;
$font-size-small: 1em;

// Large Screen
$font-size-big-title-lg: 8em;
$font-size-title-lg: 6.2em;
$font-size-normal-lg: 2.5em;
$font-size-normal-sm-lg: 1.5em;
$font-size-small-lg: 1.6em;
