.is-text {
    font-size: $font-size-normal-sm;
}

.is-sub_title {
    color: $color-puple;
    font-weight: 600 !important;
}

.is-sec_title {
    color: $color-green;
}

.is-function {
    color: $color-white;

    .is-function__icon {
        font-size: 3em;
        color: $color-puple;
    }
}

.is-social__icons {
    width: 2em;
    height: 2em;
    margin-left: 1em;
    margin-right: 1em;
}