@import "tailwindcss";

:root {
  --primary: #98faec;
  --primary-dark: #78c8d8;
  --bg1: #292f36;
  --bg2: #43454d;
  --bg3: #1a1e23;
  --white: #ffffff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-bg1: var(--bg1);
  --color-bg2: var(--bg2);
  --color-bg3: var(--bg3);
}

body {
  background: var(--bg1);
  color: var(--white);
  font-family: "Ibm Plex Mono", monospace, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(200px); /* começa 20px à direita */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* volta pra posição original */
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.5s ease-out forwards;
}
