@import "tailwindcss";

:root {
  --primary: #98faec;
  --bg1: #292f36;
  --bg2: #43454d;
  --white: #ffffff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-bg1: var(--bg1);
  --color-bg2: var(--bg2);
}

body {
  background: var(--bg1);
  color: var(--white);
  font-family: "Ibm Plex Mono", monospace, Arial, Helvetica, sans-serif;
}
