.about__img {
    width: 6em;
    height: 6em;
    border-radius: 360px;
}

.about__text {
    width: 60%;
    margin: 0 auto;
}

.about__perfil {
    margin-top: 4em;
    
    .about__data { 
        margin: 0 auto;
    }
}

.about__skill {
    margin: 4em auto 6em;

    .skill__content {
        margin: 0 auto;
        max-width: 70%;
    }
}