.about__img {
    width: 6em;
    height: 6em;
    border-radius: 360px;
}

.about__perfil {
    margin-top: 4em;
    
    .about__data { 
        margin: 0 auto;
    }
}

.about__skill {
    margin: 4em auto 6em;
}

.about__content {
    margin: 0 auto;
    max-width: 80%;
}