.about__img {
    width: 6em;
    height: 6em;
    border-radius: 360px;
}

.about__text {
    font-size: $font-size-normal-sm;
}

.about__perfil {
    margin-top: 4em;
    
    .about__data { 
        font-size: $font-size-normal-sm;
        margin: 0 auto;
    }
}

.about__skill {
    margin: 4em auto 6em;
}