.about__buttons {
    .btn {
        margin: 1em auto;
        width: 18em;
        padding: .8em;
        font-size: $font-size-normal-sm;
        font-weight: 500;
        letter-spacing: 0.1em;

        &:last-of-type {
            margin: .2em  auto;
        }
    }
}