.hero__content {
    width: 15em;

    .hero__text {
        text-transform: uppercase;
        font-weight: 300;
        margin: 0;
        font-size: $font-size-small;
    }
}

.hero__button {
    position: relative;
    top: 2em;
 }

.hero__social {
    position: relative;
    top: 8em;
    
    .hero__icon {
        width: 3em;
        height: 3em;
        margin-left: 1em;
        margin-right: 1em;
    }
}

