.hero__content {
    width: 15em;

    .hero__title {
        font-size: $font-size-title;
      }

    .hero__text {
        text-transform: uppercase;
        font-weight: 300;
        margin: 0;
        font-size: $font-size-small;
    }
}

.hero__button {
    position: relative;
    top: 3em;
 }

.hero__social {
    position: absolute;
    bottom: 2em;
}

